#seccionIconos {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#seccionIconos i {
    color: black;
    font-size: 30px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px;
}